.logo {
    width: 150px;
}

.btn.btn-login {
    background-color: #6ecc84;
    color: white;
    font-weight: bold;
}

.btn.btn-login:hover,
.btn.btn-login:active {
    background-color: #254d32;
}

.btn.btn-home {
    color: #6ecc84;
    border: 1px solid #6ecc84;
    font-weight: bold;
}

.btn.btn-home:hover,
.btn.btn-home:active {
    color: white;
    background-color: #6ecc84;
}

.callout {
    padding: 1.25rem;
}

.callout.callout-danger {
    color: #58151c;
    background-color: #f8d7da;
    border-left: .25rem solid #f1aeb5;
}

.btn.no-hover:hover {
    background-color: transparent;
    color: currentColor;
}

.clickable-row {
    cursor: pointer;
}

.alert {
    position: fixed;
    top: 25px;
    left: 275px;
    right: 275px;
    z-index: 3;
    animation: alert-animation 300ms linear 1 forwards;
}

@media screen and (min-width: 400px) {

    .logo {
        width: 250px;
    }
}

@keyframes alert-animation {
    from {
        top: -100px;
    }

    to {
        top: 25px;
    }

}