/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ! ****************************** */
/* ! CUSTOM PROPERITES ************ */
/* ! ****************************** */
:root{
    /* colors */
    --btn-color: #6ecc84;
    --green-bg-color: #bed5c4;
    --footer-clor: #264e32;
}

/* ! ****************************** */
/* ! GENERALS ********************* */
/* ! ****************************** */
body{
    font-family: sans-serif;
}

/* ! ****************************** */
/* ! HEADER *********************** */
/* ! ****************************** */

/* ! ****************************** */
/* ! MAIN ************************* */
/* ! ****************************** */

/* ! ****************************** */
/* ! FOOTER *********************** */
/* ! ****************************** */